<div
  class="font-ubuntu lg:w-[940px] h-screen lg:h-[600px] lg:bg-white lg:shadow-custom lg:shadow-grey lg:rounded-[.9375rem] lg:p-4 lg:flex relative"
>
  <div class="rounded-xl"><app-navigation /></div>
  <div
    class="w-[90%] h-auto top-[0px] mt-[350px] lg:mt-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-[10px] lg:w-[100%] lg:h-[100%] px-6 pt-8 pb-2 lg:flex lg:flex-col lg:items-center lg:justify-between lg:pt-14 lg:pb-8 bg-white absolute lg:relative lg:top-0 lg:left-0 lg:transform-none lg:-translate-x-0 lg:-translate-y-0"
  >
    <div class="lg:w-[450px] lg:h-[372px] flex flex-col gap-10">
      <div>
        <p class="text-heading">Pick add-ons</p>
        <p class="text-body-l text-grey">
          Add-ons help enhance your gaming experience.
        </p>
      </div>
      <div>
        <div class="flex flex-col gap-3 bg-red">
          <div
            class="lg:w-[100%] lg:h-[81px] border-[1px] bg-very-light-gray rounded-lg border-purple pt-5 px-4 pb-4 flex flex-row justify-between items-center gap-3 lg:gap-0 cursor-pointer"
          >
            <div class="flex items-center gap-3">
              <div
                class="w-5 h-5 bg-purple flex justify-center items-center rounded-[4px]"
              >
                <img src="../../assets/images/icon-checkmark.svg" />
              </div>
              <div>
                <p class="text-denim text-sm font-medium">Online service</p>
                <p class="text-xs text-grey">Access to multiplayer games</p>
              </div>
            </div>
            <div>
              <p class="text-xs text-purple font">+$1/mo</p>
            </div>
          </div>
          <div
            class="lg:w-[100%] lg:h-[81px] border-[1px] bg-very-light-gray rounded-lg border-purple pt-5 px-4 pb-4 flex flex-row justify-between items-center gap-3 lg:gap-0 cursor-pointer"
          >
            <div class="flex items-center gap-3">
              <div
                class="w-5 h-5 bg-purple flex justify-center items-center rounded-[4px]"
              >
                <img src="../../assets/images/icon-checkmark.svg" />
              </div>
              <div>
                <p class="text-denim text-sm font-medium">Larger storage</p>
                <p class="text-xs text-grey">Extra 1TB of cloud save</p>
              </div>
            </div>
            <div>
              <p class="text-xs text-purple font">+$2/mo</p>
            </div>
          </div>
          <div
            class="lg:w-[100%] lg:h-[81px] border-[1px] rounded-lg pt-5 px-4 pb-4 flex flex-row justify-between items-center gap-3 lg:gap-0 cursor-pointer"
          >
            <div class="flex items-center gap-3">
              <div
                class="w-5 h-5 bg border-[1px] border-grey flex justify-center items-center rounded-[4px]"
              >
                <img src="../../assets/images/icon-checkmark.svg" />
              </div>
              <div>
                <p class="text-denim text-sm font-medium">
                  Customizable profile
                </p>
                <p class="text-xs text-grey">Custom theme on your profile</p>
              </div>
            </div>
            <div>
              <p class="text-xs text-purple font">+$2/mo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="bg-white hidden lg:flex justify-between items-center w-[450px] lg:h-[48px]"
    >
    <div (click)="previousStep($event)">
      <p class="text-grey cursor-pointer">Go Back</p>
    </div>
    <div
      (click)="nextStep($event)"
      class="lg:w-[123px] lg:h-[48px] bg-denim flex justify-center items-center font-medium text-base text-white rounded-lg ml-auto cursor-pointer"
    >
      Next Step
    </div>
    </div>
  </div>
  <div
    class="bg-white w-[100%] h-[72px] flex items-center justify-between p-4 lg:hidden absolute bottom-0"
  >
    <div><p class="text-grey">Go Back</p></div>
    <div
      class="lg:w-[123px] w-[97px] lg:h-[48px] h-[40px] bg-denim flex justify-center items-center font-medium text-sm text-white rounded-lg ml-auto cursor-pointer"
    >
      Next Step
    </div>
  </div>
</div>
