<div class="flex justify-center w-[100%] lg:h-[100%]">
  <div class="w-[90%] bg-white h-auto -mt-[73px] lg:w-[100%] lg:h-[100%] lg:-mt-0 rounded-[10px] px-6 pt-8 pb-5 lg:flex lg:flex-col lg:items-center lg:justify-between lg:pt-14 lg:pb-8">
    <div class="lg:w-[450px] lg:h-[372px] flex flex-col gap-10">
      <div>
        <p class="text-heading">Pick add-ons</p>
        <p class="text-body-l text-grey">Add-ons help enhance your gaming experience.</p>
      </div>
      <div>
        <div class="flex flex-col gap-3">
          <div *ngFor="let addOn of addOns; let i = index" 
               [class.bg-very-light-gray]="addOn.selected"
               [class.border-purple]="addOn.selected"
               class="lg:w-[100%] lg:h-[81px] border-[1px] rounded-lg pt-5 px-4 pb-4 flex flex-row justify-between items-center gap-3 lg:gap-0 cursor-pointer hover:border-purple"
               (click)="toggleSelection(i)">
            <div class="flex items-center gap-3">
              <div [class.bg-purple]="addOn.selected"
                   class="w-5 h-5 flex justify-center items-center rounded-[4px] border border-grey">
                <img *ngIf="addOn.selected" src="../../assets/images/icon-checkmark.svg" />
              </div>
              <div>
                <p class="text-denim text-sm font-medium">{{ addOn.name }}</p>
                <p class="text-xs text-grey">{{ addOn.description }}</p>
              </div>
            </div>
            <div>
              <p class="text-xs text-purple font">{{ addOn.price }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-white hidden lg:flex justify-between items-center w-[450px] lg:h-[48px]">
      <div (click)="previousStep($event)">
        <p class="text-grey cursor-pointer">Go Back</p>
      </div>
      <div (click)="hasSelectedAddOns && nextStep($event)"
           [ngClass]="{'opacity-50 cursor-not-allowed': !hasSelectedAddOns}"
           class="lg:w-[123px] lg:h-[48px] bg-denim flex justify-center items-center font-medium text-base text-white rounded-lg ml-auto cursor-pointer">
        Next Step
      </div>
    </div>
  </div>
</div>
<div class="bg-white w-[100%] h-[72px] flex items-center justify-between p-4 lg:hidden absolute bottom-0">
  <div (click)="previousStep($event)">
    <p class="text-grey">Go Back</p>
  </div>
  <div (click)="hasSelectedAddOns && nextStep($event)"
       [ngClass]="{'opacity-50 cursor-not-allowed': !hasSelectedAddOns}"
       class="lg:w-[123px] w-[97px] lg:h-[48px] h-[40px] bg-denim flex justify-center items-center font-medium text-sm text-white rounded-lg ml-auto cursor-pointer">
    Next Step
  </div>
</div>
