<div
  class="lg:h-screen lg:max-h-[810px] w-screen max-w-[1440px] bg-bg lg:flex lg:justify-center lg:items-center font-ubuntu"
>
  <app-home *ngIf="currentStep === 0" (next)="nextStep()"></app-home>
  <app-select-plan
    *ngIf="currentStep === 1"
    (next)="nextStep()"
    (back)="previousStep()"
  ></app-select-plan>
  <app-pick-add-ons
    *ngIf="currentStep === 2"
    (next)="nextStep()"
    (back)="previousStep()"
  ></app-pick-add-ons>
  <app-finishing-up
    *ngIf="currentStep === 3"
    (next)="nextStep()"
    (back)="previousStep()"
  ></app-finishing-up>
  <app-thank-you
    *ngIf="currentStep === 4"
    (back)="previousStep()"
  ></app-thank-you>
</div>
