<div class="lg:h-screen lg:max-h-[810px] w-screen max-w-[1440px] bg-bg lg:flex lg:justify-center lg:items-center font-ubuntu">
  <div class="font-ubuntu lg:w-[940px] h-screen lg:h-[600px] lg:bg-white lg:shadow-custom lg:shadow-grey lg:rounded-[.9375rem] lg:p-4 flex lg:flex-row flex-col relative">
    <app-navigation
      [currentStep]="currentStep"
      (stepChange)="onStepChange($event)"
    ></app-navigation>
    <div class="w-[100%]">
      <app-home
        [currentStep]="currentStep"
        *ngIf="currentStep === 0"
        (next)="nextStep()"
        [form]="homeForm"
      ></app-home>
      <app-select-plan
        [currentStep]="currentStep"
        [selectedPlan]="selectedPlan"
        *ngIf="currentStep === 1"
        (next)="nextStep()"
        (back)="previousStep()"
        (planSelected)="handlePlanSelected($event)"
        ></app-select-plan>
        <app-pick-add-ons
        [selectedPlan]="selectedPlan"
        [currentStep]="currentStep"
        *ngIf="currentStep === 2"
        (next)="nextStep()"
        (back)="previousStep()"
      ></app-pick-add-ons>
      <app-finishing-up
        [currentStep]="currentStep"
        *ngIf="currentStep === 3"
        (next)="nextStep()"
        (back)="previousStep()"
      ></app-finishing-up>
      <app-thank-you
        *ngIf="currentStep === 4"
        (back)="previousStep()"
      ></app-thank-you>
    </div>
  </div>
</div>
