<div
  class="font-ubuntu lg:w-[940px] h-screen lg:h-[600px] lg:bg-white lg:shadow-custom lg:shadow-grey lg:rounded-[.9375rem] lg:p-4 lg:flex relative"
>
  <div class="rounded-xl"><app-navigation /></div>
  <div
    class="w-[90%] bg-white h-auto top-[0px] mt-[320px] lg:mt-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-[10px] lg:w-[100%] lg:h-[100%] px-6 py-[79px] min-h-[400px] lg:flex lg:flex-col lg:items-center lg:justify-center lg:pt-14 lg:pb-8 absolute lg:relative lg:top-0 lg:left-0 lg:transform-none lg:-translate-x-0 lg:-translate-y-0"
  >
    <div class="flex flex-col items-center lg:justify-center">
      <div class="h-14 w-14 rounded-full">
        <img src="../../../assets/images/icon-thank-you.svg" />
      </div>
      <div><p class="text-2xl text-denim font-bold mt-6">Thank you!</p></div>
      <div>
        <p class="text-body-l text-grey text-center mt-[9px]">
          Thanks for confirming your subscription! We hope you have fun using
          our platform. If you ever need support, please feel free to email us
          at
          <a href="mailto:support&#64;loremgaming.com"
            >support&#64;loremgaming.com</a
          >.
        </p>
      </div>
    </div>
  </div>
</div>
