<div class="flex justify-center w-[100%] lg:h-[100%]">
  <div
    class="w-[90%] bg-white h-auto -mt-[73px] lg:w-[100%] lg:h-[100%] lg:-mt-0 rounded-[10px] px-6 pt-8 pb-5 lg:flex lg:flex-col lg:items-center lg:justify-between lg:pt-14 lg:pb-8"
  >
    <div class="lg:w-[450px] lg:h-[372px] flex flex-col gap-10">
      <div>
        <p class="text-heading">Personal info</p>
        <p class="text-body-l text-grey">
          Please provide your name, email address, and phone number.
        </p>
      </div>
      <div>
        <form [formGroup]="form" class="flex flex-col gap-4 md:gap-6">
          <div>
            <div class="flex justify-between items-center">
              <p class="text-body-m text-denim">Name</p>
              <div *ngIf="name?.touched && name?.invalid">
                <p class="text-sm font-bold text-red-errors ml-auto" *ngIf="name?.errors?.['required']">
                  This field is required
                </p>
                <p class="text-sm font-bold text-red-errors ml-auto" *ngIf="name?.errors?.['invalidName']">
                  at least 3 characters only
                </p>
              </div>
            </div>
            <div
              class="bg-transparent border-[1px] border-border-color rounded-lg w-[100%] lg:w-[450px] h-[40px] lg:h-[48px] pl-4 flex flex-col justify-center mt-2"
            >
              <input 
                required
                class="outline-none border-none placeholder-grey leading-[25px]"
                type="text"
                formControlName="name"
                placeholder="e.g. Stephen King"
              />
            </div>
          </div>
          <div>
            <div class="flex justify-between items-center">
              <p class="text-body-m text-denim">Email Address</p>
              <div *ngIf="email?.touched && email?.invalid">
                <p class="text-sm font-bold text-red-errors ml-auto" *ngIf="email?.errors?.['required']">
                  This field is required
                </p>
                <p class="text-sm font-bold text-red-errors ml-auto" *ngIf="email?.errors?.['email']">
                  Email is invalid
                </p>
              </div>
            </div>
            <div
              class="bg-transparent border-[1px] border-border-color rounded-lg w-[100%] lg:w-[450px] h-[40px] lg:h-[48px] pl-4 flex flex-col justify-center mt-2"
            >
              <input 
                required
                class="outline-none border-none placeholder-grey leading-[25px]"
                type="email"
                formControlName="email"
                placeholder="e.g. stephenking@lorem.com"
              />
            </div>
          </div>
          <div>
            <div class="flex justify-between items-center">
              <p class="text-body-m text-denim">Phone Number</p>
              <div *ngIf="phoneNumber?.touched && phoneNumber?.invalid">
                <p class="text-sm font-bold text-red-errors ml-auto" *ngIf="phoneNumber?.errors?.['required']">
                  This field is required
                </p>
                <p class="text-sm font-bold text-red-errors ml-auto" *ngIf="phoneNumber?.errors?.['invalidPhoneNumber']">
                  at least 3 digits only
                </p>
              </div>
            </div>
            <div
              class="bg-transparent border-[1px] border-border-color rounded-lg w-[100%] lg:w-[450px] h-[40px] lg:h-[48px] pl-4 flex flex-col justify-center mt-2"
            >
              <input 
                required
                class="outline-none border-none placeholder-grey leading-[25px]"
                type="text"
                formControlName="phoneNumber"
                placeholder="e.g. +1 234 567 890"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="bg-white hidden lg:block w-[450px] lg:h-[48px]">
      <div></div>
      <div
        (click)="nextStep($event)"
        class="lg:w-[123px] lg:h-[48px] bg-denim flex justify-center items-center font-medium text-base text-white rounded-lg ml-auto cursor-pointer"
        [ngClass]="{ 'cursor-not-allowed opacity-50': form.invalid }"
        [attr.disabled]="form.invalid ? true : null"
      >
        Next Step
      </div>
    </div>
  </div>
</div>
<div
  class="bg-white w-[100%] h-[72px] flex flex-col p-4 justify-center lg:hidden absolute bottom-0"
>
  <div></div>
  <div
    (click)="nextStep($event)"
    class="lg:w-[123px] w-[97px] lg:h-[48px] h-[40px] bg-denim flex justify-center items-center font-medium text-sm text-white rounded-lg ml-auto cursor-pointer"
    [ngClass]="{ 'cursor-not-allowed opacity-50': form.invalid }"
    [attr.disabled]="form.invalid ? true : null"
  >
    Next Step
  </div>
</div>
