<div
  class="lg:w-[274px] lg:h-[568px] w-[100%] bg-[url('./assets/images/bg-sidebar-mobile.svg')] bg-no-repeat bg-cover lg:bg-[url('./assets/images/bg-sidebar-desktop.svg')] lg:flex lg:flex-col lg:gap-8 lg:pt-10 lg:pl-8 flex justify-center h-[172px] gap-4 pt-8"
>
  <div class="lg:flex lg:gap-4 items-center">
    <div
      class="w-[33px] h-[33px] rounded-full flex justify-center items-center lg:font-bold lg:text-sm cursor-pointer"
      [ngClass]="{
        'bg-sky-blue text-denim': currentIndex === 1,
        'bg-transparent border-[1px] border-white text-white': currentIndex !== 1
      }"
    >
      1
    </div>
    <div class="lg:flex lg:flex-col lg:gap-1 hidden">
      <div>
        <p class="text-light-blue lg:font-regular lg:text-xs">STEP 1</p>
      </div>
      <div><p class="lg:font-bold lg:text-sm lg:text-white">YOUR INFO</p></div>
    </div>
  </div>
  
  <div class="lg:flex lg:gap-4 items-center">
    <div
      class="w-[33px] h-[33px] rounded-full flex justify-center items-center lg:font-bold lg:text-sm cursor-pointer"
      [ngClass]="{
        'bg-sky-blue text-denim': currentIndex === 2,
        'bg-transparent border-[1px] border-white text-white': currentIndex !== 2
      }"
    >
      2
    </div>
    <div class="lg:flex lg:flex-col lg:gap-1 hidden">
      <div>
        <p class="text-light-blue lg:font-regular lg:text-xs">STEP 2</p>
      </div>
      <div><p class="lg:font-bold lg:text-sm lg:text-white">SELECT PLAN</p></div>
    </div>
  </div>
  
  <div class="lg:flex lg:gap-4 items-center">
    <div
      class="w-[33px] h-[33px] rounded-full flex justify-center items-center lg:font-bold lg:text-sm cursor-pointer"
      [ngClass]="{
        'bg-sky-blue text-denim': currentIndex === 3,
        'bg-transparent border-[1px] border-white text-white': currentIndex !== 3
      }"
    >
      3
    </div>
    <div class="lg:flex lg:flex-col lg:gap-1 hidden">
      <div>
        <p class="text-light-blue lg:font-regular lg:text-xs">STEP 3</p>
      </div>
      <div><p class="lg:font-bold lg:text-sm lg:text-white">ADD-ONS</p></div>
    </div>
  </div>
  
  <div class="lg:flex lg:gap-4 items-center">
    <div
      class="w-[33px] h-[33px] rounded-full flex justify-center items-center lg:font-bold lg:text-sm cursor-pointer"
      [ngClass]="{
        'bg-sky-blue text-denim': currentIndex === 4,
        'bg-transparent border-[1px] border-white text-white': currentIndex !== 4
      }"
    >
      4
    </div>
    <div class="lg:flex lg:flex-col lg:gap-1 hidden">
      <div>
        <p class="text-light-blue lg:font-regular lg:text-xs">STEP 4</p>
      </div>
      <div><p class="lg:font-bold lg:text-sm lg:text-white">SUMMARY</p></div>
    </div>
  </div>
</div>
